.react-autosuggest__container {
  position: relative;
  width: 300px;
  margin-bottom: 20px;
}

.react-autosuggest__input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.react-autosuggest__suggestions-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  max-height: 200px;
  overflow-y: auto;
  z-index: 5;
}

.react-autosuggest__suggestions-container--open {
  display: block;
}

.react-autosuggest__suggestion {
  padding: 10px;
  cursor: pointer;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #f0f0f05a;
  color: black;
  width: 300px;
}
.react-autosuggest__suggestion--first {
  color: black;
}
