.container {
  padding: 30px;
}
.container_list {
  display: flex;
  padding: 0;
  border: 1px solid #ccc;
}

.react-autosuggest__container {
  position: relative;
  width: 300px;
  margin-top: auto;
  margin-bottom: auto;
}

.react-autosuggest__input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  outline: none;
  box-shadow: none;
}
.react-autosuggest__suggestions-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  max-height: 200px;
  overflow-y: auto;
  z-index: 5;
}

.react-autosuggest__suggestions-container--open {
  display: block;
}

.react-autosuggest__suggestion {
  padding: 10px;
  cursor: pointer;
  list-style-type: none;
  background-color: #0b010809;
}
.react-autosuggest__suggestion:not(:last-child) {
  margin-bottom: 10px;
}
.react-autosuggest__suggestion--highlighted {
  background-color: #675c5c;
  list-style-type: none;
}

.react-autosuggest__suggestions-list {
  padding: 0;
}

.container_formula {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.formula_item {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 4px;
  background-color: #f9f9f9;
}
